# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Petr
	email = petr@kle.cz
	signingkey = 9CF774B9
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg2
[push]
	followTags = true
