Xcursor.theme: aero
;xterm*font: -*-fixed-medium-*-*-*-*-140-*-*-*-*-iso10646-1
xterm*boldMode: false
;xterm*VT100*geometry: 170x60
xterm*VT100*geometry: 170x50
xterm*background: black
xterm*foreground: green
xterm*scrollBar: false
xterm*title: Terminál
xterm*cursorBlink: true
xterm*mainMenu*background: orange
xterm*mainMenu*foreground: black
xterm*vtMenu*background: orange
xterm*vtMenu*foreground: black
xterm*fontMenu*background: orange
xterm*fontMenu*foreground: black
xterm*VT100*cursorColor: yellow
xterm*faceName: JetBrains Mono
xterm*faceSize: 12
xterm*renderFont: true
xterm*termName: xterm-256color
XTerm.*.backarrowKey: false
*.VT100.charClass: 33:48,35:48,37-38:48,43-47:48,58:48,61:48,63-64:48,95:48,126:48

gnuplot*background: white

*font: -adobe-helvetica-medium-r-normal-*-14-*-*-*-*-*-iso8859-2
*background: grey
*foreground: black

xpdf.geometry: -0+0
