[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=claws-mail
Icon=claws-mail
StartupNotify=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=claws-mail
Comment=Claws mail
