[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=urxvt
Icon=xfce-terminal
StartupNotify=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=urxvt
Comment=Unicode rxvt
